.meal{
    position: fixed;
    top: 0px;
    left: 50vw;
    transform: translateX(-50%);
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
}

.meal__btnClose {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 20px;
    background-color: #cbcbcb;
}

.meal__title {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.meal__picture {
    width: 60%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.meal__category {
    color: #ffffff;
    font-size: 24px;
    background-color: #5b6aab;
    padding: 5px 30px;
    border-radius: 5px;
    text-transform:uppercase;
}

.meal__description {
    color: #ffffff;
    padding: 10px 30px;
    background-color: #504d4d;
    border-radius: 10px;
    text-align: justify;
    font-size: 16px;
}
.meal__ingredients {
}
.meal__ingredient {
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 200px;
    width: 100%;
    padding: 10px 10px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #e7e7e7;
    margin-right: 5px;
}

.cardPicture {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}
.cardTitle{
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}
.card__btn {
    border: none;
    background-color: #504d4d;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: auto;
    &:hover{
        background-color: #2c2a2a;
    }
}

.finder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a7a6a6;
    padding: 10px;
}
.inputText{
    border: none;
    width: 40%;
    outline: none;
    padding: 10px;
    font-size: 18px;
    &::placeholder{
    }
}


.category{
    color: #ffffff;
    font-size: 16px;
    background-color: #5b6aab;
    padding: 5px 15px;
    border-radius: 5px;
    text-transform:uppercase;
    margin-bottom: -10px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
}